# lib/*
build/*
OutputCMake/*

venv
__pycache__
.vscode
.idea

# Every folder marked with .gitkeep is NOT excluded.
# The command
# $ touch path/to/dir .gitkeep
# adds a .gitkeep file. Then, do
# $ git add -f *.gitkeep
# to add all folders marked with .gitkeep.
# !/**/.gitkeep