# lib/*
lib/mbed-cmake-config*
lib/boost_1_77_0*
build/*
OutputCMake/*
venv

# **/lib/*
**/CMakeFiles*
**/nanopb*
**/boost_1_78_0
!lib/nanopb*

wervi*

__pycache__
src/odrive/swervi

.vscode
.idea
cmake-build-debug/

# Every folder marked with .gitkeep is NOT excluded.
# The command
# $ touch path/to/dir .gitkeep
# adds a .gitkeep file. Then, do
# $ git add -f *.gitkeep
# to add all folders marked with .gitkeep.
!/**/.gitkeep